/* individual product styles */
.flex{
    display: flex;
    width:100vw;
    height: 100vh;
}
.heroImage{
    flex: 1
}
.productDetails{
    position: absolute;
    right: 1.5rem;
    top:50%;
}
.selected{
    min-height:100px
}
.open{
    width:40%;
}

/* chatHandler */
.chatHandler{
    position:absolute;
    bottom:0;
    right:20px;
}